

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Joynoted;
  src: url("../src/style/Joynoted.ttf");
}
@font-face {
  font-family: Motoya;
  src: url("../src/style/Motoya.ttf");
}
@font-face {
  font-family: Kollektif;
  src: url("../src/style/Kollektif.ttf");
}

html{
  scroll-padding-top: 100px;
scroll-behavior: smooth;
}
.footer-logo {
  font-family: Kollektif;
}
.fixedfooter {
  font-family: Kollektif;
}
nav {
  font-family: Kollektif;
}
.btn{
  font-family: Kollektif;
}
.title {
  font-family: Kollektif;
}
.hero {
  margin-top: 60px;
  font-family: Motoya;
}
.more {
  font-family: Joynoted;
}